* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  color: #212121;
  max-width: 1440px;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #4e75ff;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
  margin: 0 10px;
}

img {
  display: block;
  max-width: 100%;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.css-loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.css-loader div {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 5px;
  background: #000;
  border-radius: 50%;
  animation: css-loader-animation 0.6s infinite alternate;
}

@keyframes css-loader-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
